:root {
  --bg: #f5f6f7;
  --color-text: #9c9c9c;
  --color-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0 #dfe4ea;
  --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.8),
    inset 2px 2px 6px rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

html[data-theme="dark"] {
  --bg: #121212;
  --color-text: #fefefe;
  --color-shadow: -3px -3px 10px rgba(255, 255, 255, 0.05),
    3px 3px 15px rgba(0, 0, 0, 0.5);
  --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.01),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

body {
  background: var(--bg);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}

.player {
  width: 80%;
  min-height: 550px;
  max-width: 300px;
  padding: 3rem 1.25rem;
  margin: 2rem auto;
  background: var(--bg);
  box-shadow: var(--color-shadow);
  border-radius: 15px;
  position: relative;
}

.top-bar {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
}
.top-bar > .button {
  width: 2rem;
  height: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  background: var(--bg);
  box-shadow: var(--color-shadow);
  border-radius: 5px;
}
.image {
  display: block;
  width: 175px;
  height: 175px;
  object-fit: cover;
  margin: 1rem auto;
  border-radius: 50%;
  border: 4px solid #dcdfe2;
  background-size: cover;
  box-shadow: var(--color-shadow);
}
.song-details {
  margin: 1.5rem 0;
  text-align: center;
}

.song-details h1 {
  color: var(--black);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.song-details p {
  font-size: 1.15rem;
  color: var(--color-text);
}
.progress {
  padding: 10px 0;
}

.progress-time {
  padding: 3px 5px;
  color: var(--color-text);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.progress-time > p {
  font-size: 0.65rem;
}

.buttons {
  margin: 2rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button {
  color: var(--color-text);
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--color-shadow);
}

.button-sm {
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
}
.button-md {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.85;
}
.button-lg {
  font-size: 18px;
  width: 3.25rem;
  height: 3.25rem;
}

.bar {
  width: 50%;
  height: 2px;
  margin: auto;
  background: var(--color-text);
  border-radius: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 1rem;
}

.playpause.active {
  box-shadow: var(--color-inset-shadow);
}

.shuffle.active,
.loop.active,
/* .shuffle:active, */
.prev:active,
.next:active {
  box-shadow: var(--color-inset-shadow);
}

.fa-play {
  display: block;
}
.fa-pause {
  display: none;
}

.playpause.active .fa-play {
  display: none;
}
.playpause.active .fa-pause {
  display: inline-block;
}

.seekslider {
  width: 100px;
  height: 3px !important;
  -webkit-appearance: none;
  border-radius: 10px;
  background: var(--color-text);
  z-index: 3;
  outline: none;
  position: fixed;
  margin-left: 82px;
  margin-top: 10px;
}

.seekslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: var(--color-text);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transform: scale(1);
}
.seekslider:active::-webkit-slider-thumb {
  transform: scale(1.2);
}
label {
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
}

.music-list {
  position: absolute;
  background: var(--bg);
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: var(--color-shadow);
  transition: all 0.25s ease-out;
}
.music-list.show {
  left: 0;
  opacity: 1;
  pointer-events: auto;
  top: 0;
}
.header .row {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  font-size: 19px;
  height: 40px;
}
.header .row i {
  cursor: default;
  font-size: 14px;
}
.header .row span {
  margin-left: 5px;
}
.header #close {
  cursor: pointer;
  font-size: 18px;
  left: 100%;
  opacity: 1;
  pointer-events: auto;
  top: 100%;
}
.music-list .main-music {
  margin: 10px 0;
  max-height: 85%;
  overflow: auto;
}

.music-list .main-music::-webkit-scrollbar {
  width: 0px;
}
.music-list .main-music .song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  margin-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  cursor: pointer;
}
.music-list .main-music .song.active {
  /* color: #769b8b; */
  padding: 6px 6px;
  border-radius: 6px;
  box-shadow: var(--color-inset-shadow);
}
.music-list .main-music .song:last-child {
  border-bottom: 0px;
}
.music-list .main-music .song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}
.music-list .main-music .song .row .author {
  opacity: 0.9;
}
i {
  font-size: 16px;
}

/* sóng nhạc */
.waves_container {
  align-items: flex-end;
  display: none;
}
.waves_container.show_wave {
  display: flex;
  margin-right: 2px;
}
.music_waves {
  width: 3px;
  background: var(--color-text);
  -webkit-animation: bodong 0.5s infinite ease;
  border-radius: 2px;
  background-color: var(--color-text);
  margin-right: 2px;
  user-select: none;
}

.music_waves:first-child {
  left: 0px;
  -webkit-animation-delay: 0.3s;
}

.music_waves:nth-child(2) {
  left: 7px;
  -webkit-animation-delay: 0.4s;
}
.music_waves:nth-child(3) {
  left: 14px;
  -webkit-animation-delay: 0.6s;
}
.music_waves:nth-child(4) {
  left: 21px;
  -webkit-animation-delay: 0.8s;
}
.music_waves:nth-child(5) {
  left: 28px;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes bodong {
  0% {
    height: 5px;
    background: bule;
  }
  30% {
    height: 15px;
    background: bule;
  }
  60% {
    height: 20px;
    background: bule;
  }
  80% {
    height: 15px;
    background: bule;
  }
  100% {
    height: 5px;
    background: bule;
  }
}
